<?xml version="1.0" encoding="UTF-8"?>

    <plugin id="cordova-plugin-encrypt" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Encrypt</name>
    <description>Cordova Encrypt Plugin</description>
    <license>MIT</license>
    <keywords>cordova,encrypt</keywords>
    <repo>https://git-wip-us.apache.org/repos/asf/cordova-plugin-encrypt.git</repo>

    <js-module src="www/encrypt.js" name="encrypt">
        <clobbers target="encrypt" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Encrypt" >
                <param name="android-package" value="org.apache.cordova.encrypt.Encrypt"/>
            </feature>
        </config-file>

        <source-file src="src/android/Encrypt.java" target-dir="src/org/apache/cordova/encrypt" />
    </platform>
</plugin>
