<?xml version="1.0" encoding="UTF-8"?>
<!--
  MIT License
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-encrypt"
    version="0.0.1">
    <name>Encrypt</name>
    <description>Cordova Encrypt Plugin</description>
    <license>MIT</license>
    <keywords>cordova,encrypt</keywords>
    <repo>https://github.com/Anand1907/cordova-plugin-encrypt.git</repo>

    <js-module src="www/encrypt.js" name="encrypt">
        <clobbers target="encrypt" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Encrypt" >
                <param name="android-package" value="en.ty.encrypt.Encrypt"/>
            </feature>
        </config-file>

        <source-file src="src/android/Encrypt.java" target-dir="src/en/ty/encrypt" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Device">
                <param name="ios-package" value="CDVDevice"/>
            </feature>
        </config-file>

        <header-file src="src/ios/CDVDevice.h" />
        <source-file src="src/ios/CDVDevice.m" />
    </platform>

    <!-- windows8 -->
    <platform name="windows">
        <js-module src="src/windows/EncryptProxy.js" name="EncryptProxy">
            <merges target="" />
        </js-module>
    </platform>

</plugin>
